@font-face {
    font-family: lex;
    src: url(./src/Lexend-VariableFont_wght.ttf);
}

@font-face {
    font-family: fira;
    src: url(./src/FiraMono-Regular.ttf);
}

:root {
    --content-y-offset: 50%;
}

* {
    font-family: lex;
}

body {
    background: black;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 3rem;
    z-index: 300;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    & button {
        width: 150px;
        height: 80%;
        background: rgb(0, 0, 0, 0);
        border: none;
        outline: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 5px;
        /* padding: 0 2rem 0 2rem; */
        transition: 0.2s ease-out;
        cursor: pointer;
    }

    & button:hover {
        background: rgb(255, 255, 255, 0.1);
    }
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--content-y-offset);
    background-image: url(./src/parallaximg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    filter: blur(2px);
    z-index: 0;
}

.content {
    position: absolute;
    top: var(--content-y-offset);
    left: 0;
    width: 100%;
    height: fit-content;
    min-height: calc(100% - var(--content-y-offset));
    background: white;
    z-index: 1;
}

.wrapper {
    position: relative;
    left: 50%;
    top: 0;
    width: 50%;
    height: max-content;
    transform: translate(-50%, 0%);
    padding: 0 1rem 0 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.wrapper .section {
    position: relative;
    width: calc(100% - 4rem);
    height: fit-content;
    padding: 2rem;
    background: rgba(230, 230, 230, 1);
    border-radius: 8px;
    color: black;
    line-height: 1.75rem;
    margin-top: 2rem;
}

.code, .codeBlock {
    position: relative;
    width: calc(100% - 4rem);
    border-radius: 8px;
    padding: .5rem;
    background: rgb(15, 15, 15);
    color: rgb(230, 230, 230);
    font-family: fira;
}

.codeBlock {
    padding: 2rem;
    line-height: 1.5rem;
}

