@font-face {
    font-family: 'lexend';
    src: url(./src/fonts/Lexend-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'code';
    src: url(./src/fonts/CascadiaCode.ttf);
}

* {
    font-family: 'code';
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 0);
    color: white;
    background-image: linear-gradient(-45deg, black 80%, #101010 80%);
    background-size: 20px 20px;
    background-position: 50% 50%;
    overflow: hidden auto;
}

h1 {
    font-size: 5rem;
    line-height: 100%;
    padding-bottom: 1rem;
    border-left: 8px solid white;
    border-top: 1px dashed white;
    padding: 2rem 0 2rem 2rem;
}

p, li {
    font-size: 1.1rem;
    line-height: 150%;
    color: #dbdbdb;
    padding-bottom: 2rem;
}

li {
    line-height: 150%;
    max-width: 40ch;
}

iframe {
    padding-bottom: 1rem;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(20%) blur(50px);
    background-image: linear-gradient(to top, #0004, transparent);
    background-size: cover;
    z-index: -1;
}

.cover {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: transparent;
    pointer-events: none !important;
    z-index: 5;
}

.cover .leftCurtain, .cover .rightCurtain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transition: 1250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cover .leftCurtain::after, .cover .rightCurtain::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: linear-gradient(to left, #444 18px, #101010 20px);
    transform: translate(-100%, -50%) skew(-15deg);
    width: 100%;
    height: calc(100% + 2px);
    z-index: 1;
}

.cover .rightCurtain::after {
    background: linear-gradient(to right, #888 18px, #060606 20px);
    transform: translate(0%, -50%) skew(-15deg);
    left: 50%;
}

.wrapper {
    position: relative;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 60%;
    height: fit-content;
    min-height: calc(100vh - 4rem);
    border: 1px dashed #fff4;
    margin-bottom: 6rem;
    padding: 0 2rem 0 2rem;
    z-index: 1;
}

.wrapper .content {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-out, top 500ms ease-out;
    top: 5rem;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    background: rgb(2, 2, 2);
    backdrop-filter: blur(50px);
    z-index: 4;
}

.topbar button {
    width: fit-content;
    height: 100%;
    padding: 0 2rem 0 2rem;
    background: transparent;
    color: #fffb;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 100ms ease-out, background-color 100ms ease-out;
    z-index: 1;

    &:hover {
        color: white;
        background-color: #0008;
    }
}

.topbar .progress-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    background: #101010;
    border-radius: 5px;
    transform: translate(0%, -100%);
    z-index: 2;
}

.progress-container #progress-value {
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, #00bbff, #008888);
    opacity: 1;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .wrapper {
        width: calc(100% - 4rem);
    }

    h1 {
        word-wrap: break-word;
        font-size: 2rem;
    }

    p, li {
        font-size: 1rem;
    }

    .topbar {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
    }

    .topbar button {
        width: 100%;
        padding: 0;
    }
}
